@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.pot-table {
  display: inline-table;
  width: calc(50% - 16px);
  max-width: 200px;
  margin: 8px;
}

.group-table th,
.group-table td {
  padding: 4px;
}

.pot-table,
.pot-table tr,
.pot-table th,
.pot-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.pot-table td {
  text-align: left;
}

.pot-table .drawn {
  opacity: 0.3;
}

.results-2legs {
  width: calc(100% - 16px);
  max-width: 300px;
  margin: 8px auto;
}

.results-2legs,
.results-2legs tr {
  border: 1px solid black;
  border-collapse: collapse;
}

.results-2legs td:nth-child(1),
.results-2legs td:nth-child(3) {
  text-align: left;
  width: 45%;
  padding: 4px;
}

.results-2legs td:nth-child(2) {
  width: 10%;
  text-align: center;
}

.ball {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
  font-size: 0;
  margin-bottom: 16px;
}

.ball.reveal-team {
  font-size: 11px;
  color: white;
}

.ball-red {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #ff3b01 3%,
    #761211 60%,
    #ff3b01 100%
  );
}

.ball-green {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #b1e902 3%,
    #014c3e 60%,
    #b1e902 100%
  );
}

.ball-blue {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #84b1fd 3%,
    #1d2280 60%,
    #84b1fd 100%
  );
}

.ball-yellow {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    #ffff33 3%,
    #999900 60%,
    #ffff33 100%
  );
}

h1,
.center {
  text-align: center;
}

button {
  margin: 0 8px;
}

main {
  margin-bottom: 32px;
}

.rounds > div {
  text-align: center;
}

.div-select {
  display: inline-block;
  margin-bottom: 16px;
}

.div-select > h2 {
  display: inline-block;
}

.download {
  cursor: pointer;
  margin: 0 4px;
  color: blue;
  font-weight: 700;
  font-size: 14px;
}

/* desktop only */
@media only screen and (min-width: 992px) {
  .div-select > select {
    margin: 0 8px;
    height: 21px;
  }
}

/* mobile only */
@media only screen and (max-width: 992px) {
  body {
    margin: 4px;
  }

  .label-team {
    font-size: 9px;
  }

  .pot-table {
    width: calc(25% - 4px);
    margin: 2px;
    margin-bottom: 8px;
  }

  .group-table td {
    padding: 1px;
  }

  .rounds > .round-finished {
    display: none;
  }

  .div-select {
    margin-bottom: 8px;
  }

  button {
    margin: 0 4px;
  }
}
